<template>
  <div class="content-div">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Feather Brief viewer</span>
      <form class="form-inline">
        <a v-bind:href="url" target="_blank" rel="noopener noreferrer">
          <button class="btn btn-outline-success" type="button">
            Ouvrir la source
          </button>
        </a>
        <button class="btn btn-outline-success" v-on:click="goBack()" type="button">&lt;</button>
      </form>
    </nav>
    <div class="container">
      <h2>{{ title }}</h2>
      <div v-html="content"></div>
    </div>
  </div>
</template>

<script>
import { ArticlesProvider } from '@/libs/providers/articles/articles';

export default {
  data: function retrieveArticle() {
    const articlesProvider = new ArticlesProvider();
    const url = decodeURIComponent(this.$router.currentRoute.params.url);
    articlesProvider.getArticle(url, false, (article, error) => {
      if (!error) {
        this.title = article.title;
        this.content = article.content;
        this.url = url;
      }
    });
    return {
      title: 'Loading...',
      content: 'Loading...',
      url: '',
    };
  },
  methods: {
    goBack: function goToPreviousPage() {
      if (this === undefined) { // This is the case of unconnected viewing
        // do nothing yet
      } else { // case of connected viewing
        this.$router.back();
      }
    },
  },
};
</script>

<style>
a {
  color:#8a8a8a;
}
.content-div {
  min-height: calc(100vh - 212px);
}
img {
    width:100%;
}
</style>

