<template>
  <div class="config-area">
    <div class="card">
      <h1>Import your feed</h1>
      <div v-if='error' class="alert alert-danger" role="alert">
        An error occured
      </div>
      <form v-on:submit="submitFile" enctype='multipart/form-data' action="/import/opml" method="post">
        <input type="file" ref="file" class="form-control-file" accept=".opml" id="omplfile" name="rssfile">
        <button type="submit" >Import</button>
      </form>
    </div>
    <div class="card">
      <h1>Add a new feed</h1>
      <form v-on:submit="addFeed">
        <div class="form-group">
          <label for="name">Feed name</label>
          <input v-model="name" type="text" class="form-control" id="name" placeholder="Feed name">
        </div>
        <div class="form-group">
          <label for="url">Url</label>
          <input v-model="url" type="text" class="form-control" id="url" placeholder="Url">
        </div>
        <button type="submit" class="btn btn-primary">Add feed</button>
      </form>
    </div>
  </div>
</template>

<script>
import { AccountProvider } from '../libs/providers/account/account';
import { FeedsProvider } from '../libs/providers/feeds/feeds';
import { Feed } from '../libs/models/feed';

export default {
  name : 'config',
  data : () => {
    return {
      rssfile : '',
      error: false,
      name: '',
      url: ''
    }
  },
  methods : {
    submitFile : function(e) {
      e.preventDefault();
      let file = this.$refs.file.files[0];
      var formData = new FormData();
      formData.append('opmlfile', file);
      var accountProvider = new AccountProvider();
      accountProvider.importFile(formData, (data, err) => {
        this.error = err;
      });
    },
    addFeed : function(e) {
      let feedsProvider = new FeedsProvider();
      let feed = new Feed(this.name, this.url);
      feedsProvider.subscribe(feed);
    }
  }
}
</script>

<style scoped lang="scss">
.config-area {
  padding: 15px;
  width: 500px;
  margin: 0 auto auto;
  min-height: calc(100vh - 212px);
}
</style>