<template>
  <div class="feeditems container">
    <div class="spinner">
      <div id="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <ItemCard
      v-for="item in feeditems"
      :key="item.article_url"
      :item="item"/>
    <button type="button" v-on:click="getNewFeeditems()" class="new-feeds btn btn-success">Get new feeditems</button>
  </div>
</template>

<script>
import { FeeditemsProvider } from '@/libs/providers/feeditems/feeditems';
import ItemCard from '@/components/ItemCard.vue';

const feeditemsProvider = new FeeditemsProvider();
let shownFeed = [];

export default {
  name: 'feeditem',
  components: {
    ItemCard,
  },
  data: function retrieveArticles() {
    const newitems = [];
    feeditemsProvider.getUnreadFeeditems((items) => {
      items.forEach((item) => {
        shownFeed.push(item.article_url);
      })
      this.feeditems = items;
      document.getElementById("loading").style.display = "none";
    });
    return { feeditems: newitems };
  },
  methods: {
    getNewFeeditems : function() {
      document.getElementById("loading").style.display = "inline-block";
      feeditemsProvider.markAsShown(shownFeed, () => {});
      shownFeed = [];
      this.feeditems = [];
      feeditemsProvider.getUnreadFeeditems((items) => {
        items.forEach((item) => {
          shownFeed.push(item.article_url);
        })
        this.feeditems = items;
        document.getElementById("loading").style.display = "none";
      });
    }
  }
};
</script>

<style>
.spinner {
  margin: 0 auto;
  width: 64px;
}
.new-feeds {
  margin-top: 20px;
  width: 100%;
}
.feeditems {
  min-height: calc(100vh - 212px);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(56, 56, 56);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
</style>

