<template>
  <div class="home">
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5"><strong>FeatherBrief</strong> is a free/selfhosted solution to help you manage your RSS feeds and read articles without ads</h1>
              <router-link to="/signup" exact class="btn btn-outline btn-xl js-scroll-trigger" style="margin-left:10px;">Register!</router-link>
              <router-link to="/login" exact class="btn btn-outline btn-xl js-scroll-trigger" style="margin-left:10px;">Login!</router-link>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup galaxy_s5 portrait black">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover a new way to browse your Rss feeds!</h2>
            <p>Our app is available as a Progressive Web App for Chrome and derivative mobile browser</p>
            <div class="badges">
              <p><a href="https://dockyard.com/blog/2017/12/19/how-easy-is-it-to-install-a-progressive-web-app-just-click-add">How to install a PWA</a></p>
              <p><a href="http://cn-ds.gitlab.io/ionic-app/">Feather brief PWA</a></p>
              <!--<a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Unique and state of the art features</h2>
          <p class="text-muted">A new way to use Rss feed</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup galaxy_s5 portrait black">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-screen-smartphone text-primary"></i>
                    <h3>Don't miss anything</h3>
                    <p class="text-muted">RSS feeds are a way to stay up to date with anything you read</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-layers text-primary"></i>
                    <h3>Awesome features</h3>
                    <p class="text-muted">Follow your favorite websites, read ad free articles...</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-present text-primary"></i>
                    <h3>Free to Use</h3>
                    <p class="text-muted">Of course it's free, if you self host it!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-lock-open text-primary"></i>
                    <h3>Open Source</h3>
                    <p class="text-muted">We want to respect your privacy, self host your stuff</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Give it a try,<br>change the way you read news</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="roadmap" id="roadmap">
      <div class="timeline">
        <h2>2017</h2>
        <ul>
          <li>
            <h3>Experimentation</h3>
            <p>Starting the project as a school assignment, using JEE.</p>
            <time>May 2017</time>
          </li>
          <li>
            <h3>Rewritting</h3>
            <p>Rewritting the server part using NodeJS</p>
            <time>July 2017</time>
          </li>
          <li>
            <h3>Front</h3>
            <p>Building a simple HTML5/CSS3 and JQuery front to test the backend</p>
            <time>August 2017</time>
          </li>
          <li>
            <h3>Ionic!</h3>
            <p>Decided to use Ionic to build mobile app</p>
            <time>December 2017</time>
          </li>
        </ul>
        
        <h2>2018</h2>
        <ul>
          <li>
            <h3>MVP</h3>
            <p>Building the minimum viable product, now I can read and browse my Rss feeds</p>
            <time>March-April 2018</time>
          </li>
          <li>
            <h3>Website</h3>
            <p>Building this awesome website</p>
            <time>April 2018</time>
          </li>
        </ul>
        <h2>Coming soon</h2>
        <ul class="coming-soon">
          <li>
            <h3>Multi user</h3>
            <p>Implementing multi user so you can host your account and your friend's</p>
            <time>April 2018</time>
          </li>
          <li>
            <h3>Grouping</h3>
            <p>Adding a way to group the feed items that are talking about the same fact</p>
            <time> ? - 2018</time>
          </li>
          <li>
            <h3>Recommendation engine</h3>
            <p></p>
            <time> ? - 2018</time>
          </li>
          <li>
            <h3>Knowledge management</h3>
            <p></p>
            <time> ? - 2018</time>
          </li>
        </ul>
      </div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>We're proud to share what we've created, tell us what you think!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Config } from '../libs/shared/config';
import { Component, Vue } from 'vue-property-decorator';
@Component({
  name: 'Home',
  data: () => {
    return {
      connected: Config.authenticated
    }
  },
  components: {
  },
  })
export default class Home extends Vue {}
</script>

<style scoped lang="scss">
.home {
  width: 100%;
}
</style>

