<template>
  <div class="login-form">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form v-on:submit="loginCheck">
          <div class="form-group">
            <div v-if='error' class="alert alert-danger" role="alert">
              Incorrect credentials
            </div>
          </div>
          <div class="form-group">
            <label for="login">Login</label>
            <input v-model="login" type="text" class="form-control" id="login" placeholder="Enter login">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input v-model="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div><router-link to="/signup" exact>No account yet ? Create one !</router-link></div>
      </div>
    </div>
  </div>
</template>

<script>
import { Util } from '../libs/shared/util'
import { Config } from '../libs/shared/config';
import { eventBus } from '../main';

export default {
  name : 'login',
  data : () => {
    return {
      login : '',
      password : '',
      error : false
    }
  },
  methods : {
    loginCheck : function(e) {
      e.preventDefault();
      Util.connect(login.value, password.value, (success, authenticated, token) => {
        localStorage.setItem('authenticated', authenticated);
        let d = new Date();
        localStorage.setItem('timestamp', d.getTime());
        if (success) {
          localStorage.setItem('token', token);
          Config.authenticated = true;
          this.$router.push('/feeditems');
          eventBus.$emit('connection', true);
        } else {
          this.error = true;
        }
      });
      
    }
  }
}
</script>

<style scoped lang="scss">
.login-form {
  padding: 15px;
  width: 500px;
  margin: 0 auto auto;
  min-height: calc(100vh - 212px);
}
</style>