<template>
  <div class="login-form">
    <div class="card">
      <div class="card-header">
        Create an account
      </div>
      <div class="card-body">
        <form v-on:submit="signup">
          <div v-if='error' class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <div v-if='success' class="alert alert-success" role="alert">
            Account successfully created
          </div>
          <div class="form-group" >
            <label for="email">Email address</label>
            <input v-model="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group" >
            <label for="username">Username</label>
            <input v-model="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input v-model="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input v-model="password2" type="password" class="form-control" id="confirm-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { AccountProvider } from '../libs/providers/account/account';

export default {
  name : 'signup',
  data : () => {
    return {
      email : '',
      username : '',
      password : '',
      password2 : '',
      error : false,
      success : false,
      message : ''
    }
  },
  methods : {
    signup : function(e) {
      var accountProvider = new AccountProvider();
      e.preventDefault();
      if (this.password === this.password2) {
        accountProvider.register(
              email.value,
              username.value,
              password.value,
             (response, err) => {
          if(!err) {
            this.error = false;
            this.success = true;
          } else {
            this.error = true;
            this.message = 'Account not created';
          }
        });
        this.error = true;
        this.message = 'Account creation is currently disabled';
      } else {
        this.error = true;
        this.message = 'The passwords aren\'t the same';
      }
    }
  }
}
</script>

<style scoped lang="scss">
.login-form {
  padding: 15px;
  width: 500px;
  margin: 0 auto auto;
  min-height: calc(100vh - 212px);
}
</style>