<template>
  <div class="card" v-on:click="openArticle(item.article_url)">
    <div class="row">
      <div class="col-lg-3 card-part1">
        <img :src=getLink(item.date) class="card-img"/>
      </div>
      <div class="col-lg-9 card-part2">
        <h5 class="card-title">{{ item.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ item.feed_parent }} | {{ convertDate(item.date) }}
        </h6>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'itemCard',
  props: ["item"],
  methods : {
    openArticle(url) {
      var encodedUrl = encodeURIComponent(url); 
      this.$router.push(`/article/${encodedUrl}`);
    },
    getLink(date) {
      return 'https://picsum.photos/200/100/?random&' + date
    },
    convertDate(date) {
      const dateObject = new Date(date);
      return dateObject.toGMTString();
    }
  }
}
</script>

<style>
.card {
  margin: 5px;
  
}
.card-img {
  width: 200px;
  height: 100px;
  display: inline;
}
.card-part1 {
  display: inline;
}
.card-part2 {
  display: inline;
}
</style>
