<template>
  <div class="menu" id="example-1">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top nav-purple" id="mainNav">
      <div class="container">
        <router-link to="/" exact class="navbar-brand js-scroll-trigger">FeatherBrief</router-link>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" v-if="!connected" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#roadmap">Roadmap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse navbar-collapse" v-if="connected" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <router-link to="/feeditems" exact class="nav-link js-scroll-trigger">Feeditems</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/feeds" exact class="nav-link js-scroll-trigger">Feeds</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/stats" exact class="nav-link js-scroll-trigger">Stats</router-link>
            </li>
            <li class="nav-item">
              <router-link to="/config" exact class="nav-link js-scroll-trigger">Config</router-link>
            </li>
            <li class="nav-item">
              <a v-on:click="logout()" exact class="nav-link js-scroll-trigger">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import { eventBus } from '../main';
import { Config } from '../libs/shared/config';

export default {
  name: 'Menu',
  data: () => {
    let auth = localStorage.getItem('authenticated');
    let d = new Date();
    let isConnected;
    if (auth === 'true') {
      let lastConnectionDate = localStorage.getItem('timestamp');
      if (d.getDate() - parseInt(lastConnectionDate) > 86400) {
        isConnected = true;
      } else {
        isConnected = false;
      }
    } else {
      isConnected = false;
    }
    return {
      connected : isConnected
    }
  },
  methods : {
    logout : function() {
      localStorage.removeItem('token');
      localStorage.removeItem('authenticated');
      localStorage.removeItem('timestamp');
      Config.authenticated = false;
      this.$parent.$emit('connection', false);
      this.$router.push('/login');
      this.connected = false;
    }
  },
  created() {
    eventBus.$on('connection', (val) => {
      this.connected = val;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="css">
nav {
  background-color: #3f354a;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
