<template>
  <div id="app">
    <div>
      <Menu :connected="isConnected"></Menu>
      <div class="router-container">
        <router-view>
        </router-view>
        <footer>
          <div class="container">
            <p>&copy; FeatherBrief 2018. All Rights Reserved.</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Privacy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms</a>
              </li>
              <li class="list-inline-item">
                <a href="#">FAQ</a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import Menu from '@/components/Menu.vue';
import { Config } from './libs/shared/config';

export default {
  name: 'app',
  components: {
    Menu,
  },
  data: () => {
    let auth = localStorage.getItem('authenticated');
    var d = new Date();
    let isConnected;
    if (auth === 'true') {
      let lastConnectionDate = localStorage.getItem('timestamp');
      if (d.getDate() - parseInt(lastConnectionDate) > 86400) {
        isConnected = true;
        Config.authenticated = true;
      } else {
        isConnected = false;
      }
    } else {
      isConnected = false;
    }
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.cn-ds.fr/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    return {
      isConnected:isConnected
    };
  }
};

</script>

<style scoped lang="scss">
.router-container {
  margin-top: 88px;
}
</style>
